body {
  height:100vh;
  width:100vh;
  background-color: pink;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inputbox{
  backgroundColor: 'white';
  borderRadius: 5;
  fontSize: 20;
  padding: 3;
  borderColor: 'grey';
  marginTop: '5%';
  marginHorizontal: '20%';
  }

.buttons{
  borderRadius: 20;
  borderColor: 'grey';
  marginTop: '5%';
  marginHorizontal: '20%';
  textAlign: 'center';
  borderWidth: 2;
  }

.buttonsText{
  margin: '1%';
  textAlign: 'center';
  color: 'grey';
  fontSize: 25;
  }

.title{
  backgroundColor: 'none';
  margin: 1;
  fontSize: 50;
  color: 'grey';
  fontWeight: 'bold';
  textAlign: 'center';
  }


