.inputbox: {
  backgroundColor: 'white';
  borderRadius: 5;
  fontSize: 20;
  padding: 3;
  borderColor: 'grey';
  marginTop: '5%';
  marginHorizontal: '20%';
  }

.buttons: {
  borderRadius: 20;
  borderColor: 'grey';
  marginTop: '5%';
  marginHorizontal: '20%';
  textAlign: 'center';
  borderWidth: 2;
  }

.buttonsText: {
  margin: '1%';
  textAlign: 'center';
  color: 'grey';
  fontSize: 25;
  }

.background: {
  flex: 1;
  justifyContent: 'center';
  backgroundColor: 'pink';
  padding: 8;
  }

.title: {
  backgroundColor: 'none';
  margin: 1;
  fontSize: 50;
  color: 'grey';
  fontWeight: 'bold';
  textAlign: 'center';
  }


