body {
  margin: 0;
  background-color: pink;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.matches-item {
  height: 30vh;
}

.matches-name{
  font-size: 8vh;
}

.matches-email{
  font-size: 6vh;
}

.matches-image {
  height: 28vh;
}

.customNavBar{
  position: fixed;
  bottom: 0px;
  padding-top: 1vh;
  height: 7vh;
  width: 100vh;  
}

.customNavSize{
  position: absolute;
}

.matchesPadding{
  padding-block-end: 7vh;
}